$color-white: #fafafa;
$color-black: #000023;

$primary-color: #1565c0;
$primary-color-light: #5e92f3;
$primary-color-dark: #003c8f;

$secondary-color: #7e57c2;
$secondary-color-light: #b085f5;
$secondary-color-dark: #4d2c91;

$primary-text-color: #ffffff;
$secondary-text-color: #ffffff;

