/*
$breakpoint argument choices:
    0 - 300   -small-phone
  300 - 600   -phone
  600 - 900   -tab-port
  900 - 1200  -tab-land
 1200 - 1800  -Normal
 1800 +       -big-desk

 Font size of browser 16px
*/
/**** Centers a flex container*/
/**** Min Size*/
/**** Min Size*/
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&subset=latin-ext');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 80em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 60em) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 18.75em) {
  html {
    font-size: 37.5%;
  }
}
@media only screen and (min-width: 120em) {
  html {
    font-size: 65.5%;
  }
}

/*
**************************
**Change route animation**
**************************
*/
.animate-enter,
.animate-exit {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
}

.animate-enter.animate-enter-active,
.animate-exit {
  opacity: 1;
  top: 0;
  height: 30px;
}

.animate-exit.animate-exit-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}

/*
*******************
**Image Animation**
*******************
*/
.AnimationBorder {
  animation: 6s 1s blurrBorder ease infinite alternate;
}

@keyframes blurrBorder {
  0% {
    border-radius: 100%;
  }
  50% {
    border-radius: 0.5rem 6rem 0.5rem;
  }
  75% {
    border-radius: 6rem 0.5rem 6rem;
  }
  100% {
    border-radius: 100%;
  }
}

/*
*******************
**ClyPy Animation**
*******************
*/
.Clypy {
  animation: 6s 1s clyp ease infinite alternate;
}

@keyframes clyp {
  0% {
    -webkit-clip-path: polygon(
      75% 0%,
      100% 50%,
      75% 100%,
      0% 100%,
      25% 50%,
      0% 0%
    );
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
  50% {
    -webkit-clip-path: polygon(
      0% 15%,
      15% 15%,
      15% 0%,
      85% 0%,
      85% 15%,
      100% 15%,
      100% 85%,
      85% 85%,
      85% 100%,
      15% 100%,
      15% 85%,
      0% 85%
    );
    clip-path: polygon(
      0% 15%,
      15% 15%,
      15% 0%,
      85% 0%,
      85% 15%,
      100% 15%,
      100% 85%,
      85% 85%,
      85% 100%,
      15% 100%,
      15% 85%,
      0% 85%
    );
  }
  75% {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  100% {
    webkit-clip-path: polygon(
      75% 0%,
      100% 50%,
      75% 100%,
      0% 100%,
      25% 50%,
      0% 0%
    );
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
}

/*
*******************
**Cards Animation**
*******************
*/
.fade-enter,
.fade-exit {
  transition: 400ms cubic-bezier(0, 0, 0.58, 1) all;
  position: relative;
  display: block;
}

.fade-enter.fade-enter-active,
.fade-exit {
  opacity: 1;
  right: 0;
  height: 15rem;
}

.fade-exit.fade-exit-active,
.fade-enter {
  opacity: 0;
  right: -27rem;
  height: 0px;
}

/*
*******************
**YoYo Animation**
*******************
*/
.yoyo-enter {
  -webkit-animation: enter 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: enter 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: block;
  position: relative;
}

@-webkit-keyframes enter {
  from {
    opacity: 0;
    height: 0px;
    bottom: -70px;
  }
  75% {
    bottom: 15px;
  }
  to {
    opacity: 1;
    height: 30px;
    bottom: 0px;
  }
}

@keyframes enter {
  from {
    opacity: 0;
    height: 0px;
    bottom: -70px;
  }
  75% {
    bottom: 15px;
  }
  to {
    opacity: 1;
    height: 30px;
    bottom: 0px;
  }
}

.yoyo-exit {
  -webkit-animation: leave 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: leave 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: block;
  position: relative;
}

@-webkit-keyframes leave {
  to {
    opacity: 0;
    height: 0px;
    bottom: -70px;
  }
  25% {
    bottom: 15px;
  }
  from {
    opacity: 1;
    height: 30px;
    bottom: 0px;
  }
}

@keyframes leave {
  to {
    opacity: 0;
    height: 0px;
    bottom: -70px;
  }
  25% {
    bottom: 15px;
  }
  from {
    opacity: 1;
    height: 30px;
    bottom: 0px;
  }
}

/*
*******************
**Slider Animation**
*******************
*/
.slider-enter,
.slider-exit {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.1, 0.25, 1) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.1, 0.25, 1) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.1, 0.25, 1) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.1, 0.25, 1) all;
  transition: 400ms cubic-bezier(0.25, 0.1, 0.25, 1) all;
}

.slider-enter {
  left: 100%;
}

.slider-enter.slider-enter-active {
  left: 0;
}

.slider-exit {
  left: 0;
}

.slider-exit.slider-exit-active {
  left: -100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.box {
  transition: all 1s;
}
@media (max-width: 599px) {
  .box {
    padding: 5rem 0 !important;
  }
}
@media (min-width: 600px) {
  .box {
    padding: 5rem 5rem !important;
  }
}
@media (min-width: 900px) {
  .box {
    padding: 5rem 15rem !important;
  }
}
@media (min-width: 1200px) {
  .box {
    padding: 5rem 10rem !important;
  }
}
@media (min-width: 1800px) {
  .box {
    padding: 5rem 10rem !important;
  }
}

.hide {
  display: none !important;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 35, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 35, 0.2);
}

.btn--white {
  background-color: #fafafa;
  color: #1565c0;
}
.btn--white::after {
  background-color: #fafafa;
}

.btn--prymary {
  background-color: #1565c0;
  color: #fafafa;
}
.btn--prymary::after {
  background-color: #1565c0;
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link,
.btn-text:visited {
  color: #1565c0;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1565c0;
  padding: 3px;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #1565c0;
  color: #000023;
  box-shadow: 0 1rem 2rem rgba(0, 0, 35, 0.15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 35, 0.15);
  transform: translateY(0);
}

.ImageContainer {
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  overflow: hidden;
  background-image: url(../images/Principal/Principal-lg_1x.jpg);
  background-image: -webkit-image-set(
    url(../images/Principal/Principal-lg_1x.webp) 1x,
    url(../images/Principal/Principal-lg_2x.webp) 2x
  );
  background-image: image-set(
    url(../images/Principal/Principal-lg_1x.jpg) 1x,
    url(../images/Principal/Principal-lg_2x.jpg) 2x
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 1s;
}
@media (max-width: 900px) {
  .ImageContainer {
    background-image: url(../images/Principal/Principal-md_2x.jpg);
    background-image: -webkit-image-set(
      url(../images/Principal/Principal-md_1x.webp) 1x,
      url(../images/Principal/Principal-md_2x.webp) 2x
    );
    background-image: image-set(
      url(../images/Principal/Principal-md_1x.jpg) 1x,
      url(../images/Principal/Principal-md_2x.jpg) 2x
    );
  }
}
@media (max-width: 600px) {
  .ImageContainer {
    background-image: url(../images/Principal/Principal-sm_2x.jpg);
    background-image: -webkit-image-set(
      url(../images/Principal/Principal-sm_1x.webp) 1x,
      url(../images/Principal/Principal-sm_2x.webp) 2x
    );
    background-image: image-set(
      url(../images/Principal/Principal-md_1x.jpg) 1x,
      url(../images/Principal/Principal-sm_2x.jpg) 2x
    );
  }
}
@media (max-width: 599px) {
  .ImageContainer {
    background-position: center;
    justify-content: center;
  }
  @supports (clip-path: polygon(0 0)) {
    .ImageContainer {
      clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
      height: 65vh;
    }
    @media only screen and (max-height: 37.5em) {
      .ImageContainer {
        clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
        height: 80vh;
      }
    }
  }
}
@media (min-width: 600px) {
  .ImageContainer {
    background-position: center;
    justify-content: center;
  }
  @supports (clip-path: polygon(0 0)) {
    .ImageContainer {
      clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
      height: 75vh;
    }
    @media only screen and (max-height: 37.5em) {
      .ImageContainer {
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        height: 90vh;
      }
    }
  }
}
@media (min-width: 900px) {
  .ImageContainer {
    background-position: center;
    justify-content: center;
  }
  @supports (clip-path: polygon(0 0)) {
    .ImageContainer {
      clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);
      height: 55vh;
    }
    @media only screen and (max-height: 37.5em) {
      .ImageContainer {
        clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
        height: 70vh;
      }
    }
  }
}
@media (min-width: 1200px) {
  .ImageContainer {
    background-position: bottom;
    justify-content: center;
  }
  @supports (clip-path: polygon(0 0)) {
    .ImageContainer {
      clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
      height: 50vh;
    }
    @media only screen and (max-height: 37.5em) {
      .ImageContainer {
        clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
        height: 65vh;
      }
    }
  }
}
@media (min-width: 1800px) {
  .ImageContainer {
    background-position: bottom;
    justify-content: center;
  }
  @supports (clip-path: polygon(0 0)) {
    .ImageContainer {
      clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
      height: 70vh;
    }
    @media only screen and (max-height: 37.5em) {
      .ImageContainer {
        clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
        height: 85vh;
      }
    }
  }
}
.ImageContainer__header {
  width: 100%;
  margin-top: 5rem;
  padding: 5rem 1rem;
  display: inline-block;
  position: relative;
  text-align: center;
}
@media (max-width: 599px) {
  .ImageContainer__header {
    margin-top: 0;
    padding: 2rem 1rem;
  }
}
@media (min-width: 600px) {
  .ImageContainer__header {
    margin-top: 0;
    padding: 2rem 1rem;
  }
}
@media (min-width: 900px) {
  .ImageContainer__header {
    margin-top: 0;
    padding: 4rem 1rem;
  }
}
@media (min-width: 1200px) {
  .ImageContainer__header {
    margin-top: 0;
    padding: 6rem 2rem;
  }
}
@media (min-width: 1800px) {
  .ImageContainer__header {
    margin-top: 0;
    padding: 8rem 3rem;
  }
}
.ImageContainer__header::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.15);
  background-attachment: fixed;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.ImageContainer__main-text {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
  z-index: 2;
}
.ImageContainer__secondary-text {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  font-weight: 300;
  position: relative;
  z-index: 2;
}
.ImageContainer__btn {
  letter-spacing: 0.5rem;
  font-size: 3rem;
  font-weight: 600;
}

.PresentationRightToLeft__one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem !important;
}
.PresentationRightToLeft__one__title {
  font-family: 'Lato', sans-serif;
  color: #1565c0;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
.PresentationRightToLeft__one__text {
  color: #4d2c91;
  text-align: center;
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 0 2rem;
}
@media only screen and (max-width: 18.75em) {
  .PresentationRightToLeft__one__text {
    padding: 0 1rem;
    letter-spacing: 0.2rem;
  }
}

.PresentationRightToLeft__two {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PresentationRightToLeft__two__image {
  overflow: hidden;
}

.PresentationLeftToRight {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 37.5em) {
  .PresentationLeftToRight {
    padding: 0 !important;
  }
}
.PresentationLeftToRight__one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem !important;
}
.PresentationLeftToRight__one__title {
  font-family: 'Lato', sans-serif;
  color: #1565c0;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
.PresentationLeftToRight__one__text {
  color: #4d2c91;
  text-align: center;
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 0 2rem;
}
@media only screen and (max-width: 18.75em) {
  .PresentationLeftToRight__one__text {
    padding: 0 1rem;
    letter-spacing: 0.2rem;
  }
}
.PresentationLeftToRight__two {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media only screen and (max-width: 80em) {
  .PresentationLeftToRight__two {
    order: 99;
  }
}
.PresentationLeftToRight__two__image {
  background-image: url(../images/WebDev-min-min.jpg);
  background-size: cover;
  background-position: center;
  transition: all 1s;
  min-height: 50rem;
  min-width: 50rem;
}
@media only screen and (max-width: 80em) {
  .PresentationLeftToRight__two__image {
    min-height: 45rem;
    min-width: 45rem;
  }
}
@media only screen and (max-width: 60em) {
  .PresentationLeftToRight__two__image {
    min-height: 40rem;
    min-width: 40rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .PresentationLeftToRight__two__image {
    min-height: 35rem;
    min-width: 35rem;
  }
}
@media only screen and (max-width: 18.75em) {
  .PresentationLeftToRight__two__image {
    min-height: 30rem;
    min-width: 30rem;
    background-position: top;
  }
}
@media only screen and (min-width: 120em) {
  .PresentationLeftToRight__two__image {
    min-height: 60rem;
    min-width: 60rem;
  }
}

.PresentationBottomToTop {
  margin-bottom: 4rem !important;
  transform: all 6s;
}
@media only screen and (max-width: 37.5em) {
  .PresentationBottomToTop {
    padding: 0 !important;
  }
}
.PresentationBottomToTop__one {
  height: 50vh;
}
@media only screen and (max-width: 80em) {
  .PresentationBottomToTop__one {
    order: 99;
    height: 30vh;
  }
}
.PresentationBottomToTop__two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.PresentationBottomToTop__two__title {
  font-family: 'Lato', sans-serif;
  color: #1565c0;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
.PresentationBottomToTop__two__text {
  color: #4d2c91;
  text-align: center;
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 0 2rem;
  padding: 0 20rem;
}
@media only screen and (max-width: 18.75em) {
  .PresentationBottomToTop__two__text {
    padding: 0 1rem;
    letter-spacing: 0.2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .PresentationBottomToTop__two__text {
    padding: 0 2rem;
  }
}
.PresentationBottomToTop__Logo {
  height: 100%;
  width: 100%;
}

.rImageRight {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40rem;
  width: 60rem;
}
@media (min-width: 600px) {
  .rImageRight {
    height: 30rem;
    width: 50rem;
  }
}
@media (min-width: 1200px) {
  .rImageRight {
    height: 40rem;
    width: 60rem;
  }
}
.rImageRight__image {
  position: absolute;
  height: 400px;
  width: 600px;
  top: 50%;
  margin-top: -20rem;
  -webkit-clip-path: polygon(
    75% 0%,
    100% 50%,
    75% 100%,
    0% 100%,
    25% 50%,
    0% 0%
  );
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
@media (max-width: 599px) {
  .rImageRight__image {
    height: 224px;
    width: 328px;
  }
}
@media (min-width: 600px) {
  .rImageRight__image {
    height: 224px;
    width: 328px;
    margin-top: -15rem;
  }
}
@media (min-width: 1200px) {
  .rImageRight__image {
    height: 400px;
    width: 600px;
    margin-top: -20rem;
  }
}
.rImageRight__shadow {
  content: '';
  position: absolute;
  height: 400px;
  width: 600px;
  top: 50%;
  margin-top: -19rem;
  z-index: -1;
  background: rgba(126, 87, 194, 0.45);
  -webkit-clip-path: polygon(
    75% 0%,
    100% 50%,
    75% 100%,
    0% 100%,
    25% 50%,
    0% 0%
  );
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media (max-width: 599px) {
  .rImageRight__shadow {
    height: 224px;
    width: 328px;
  }
}
@media (min-width: 600px) {
  .rImageRight__shadow {
    height: 224px;
    width: 328px;
    margin-top: -14rem;
  }
}
@media (min-width: 1200px) {
  .rImageRight__shadow {
    height: 400px;
    width: 600px;
    margin-top: -19rem;
  }
}

.rImageLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40rem;
  width: 60rem;
}
@media (min-width: 600px) {
  .rImageLeft {
    height: 30rem;
    width: 50rem;
  }
}
@media (min-width: 1200px) {
  .rImageLeft {
    height: 40rem;
    width: 60rem;
  }
}
.rImageLeft__image {
  position: absolute;
  height: 400px;
  width: 600px;
  top: 50%;
  margin-top: -20rem;
  -webkit-clip-path: polygon(
    100% 0%,
    75% 50%,
    100% 100%,
    25% 100%,
    0% 50%,
    25% 0%
  );
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
@media (max-width: 599px) {
  .rImageLeft__image {
    height: 224px;
    width: 328px;
  }
}
@media (min-width: 600px) {
  .rImageLeft__image {
    height: 224px;
    width: 328px;
    margin-top: -15rem;
  }
}
@media (min-width: 1200px) {
  .rImageLeft__image {
    height: 400px;
    width: 600px;
    margin-top: -20rem;
  }
}
.rImageLeft__shadow {
  content: '';
  position: absolute;
  height: 400px;
  width: 600px;
  top: 50%;
  margin-top: -19rem;
  z-index: -1;
  background: rgba(126, 87, 194, 0.45);
  -webkit-clip-path: polygon(
    100% 0%,
    75% 50%,
    100% 100%,
    25% 100%,
    0% 50%,
    25% 0%
  );
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media (max-width: 599px) {
  .rImageLeft__shadow {
    height: 224px;
    width: 328px;
  }
}
@media (min-width: 600px) {
  .rImageLeft__shadow {
    height: 224px;
    width: 328px;
    margin-top: -14rem;
  }
}
@media (min-width: 1200px) {
  .rImageLeft__shadow {
    height: 400px;
    width: 600px;
    margin-top: -19rem;
  }
}

.st1 {
  fill: none;
  stroke: #7e57c2;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-miterlimit: 25;
}

.st2 {
  fill: none;
  stroke: #1565c0;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-miterlimit: 25;
}

.ListOfImageCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ImageCard__title {
  font-family: 'Lato', sans-serif;
  color: #1565c0;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  font-size: 4rem;
  font-weight: 400;
}

.SVG {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SVG__svg {
  height: 3rem;
  width: auto;
}
.SVG__path__one {
  fill: #7e57c2;
}

.footer {
  padding: 2rem;
  font-size: 1.9rem;
  background-color: #000023;
  text-align: center;
  color: #ffffff;
}
.footer__icon {
  height: auto;
  width: 4rem;
  margin-top: 0.5rem;
  fill: #ffffff;
  cursor: pointer;
}

.header {
  display: flex;
  flex-wrap: wrap;
  transition: all 3s;
}
@media (max-width: 599px) {
  .header__toolbar {
    margin: 0 1rem;
  }
}
@media (min-width: 900px) {
  .header__toolbar {
    margin: 0 10rem;
  }
}
@media (min-width: 1200px) {
  .header__toolbar {
    margin: 0 20rem;
  }
}
@media (min-width: 1800px) {
  .header__toolbar {
    margin: 0 40rem;
  }
}
.header__title {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header__title__progress {
  color: #ffffff !important;
}
.header__title__message {
  margin-right: 1rem !important;
  font-family: 'Lato', sans-serif !important;
  text-transform: capitalize !important;
  letter-spacing: 0.5rem;
  font-size: 4rem !important;
  font-weight: 300 !important;
}
.header__translate-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__translate-menu__icon {
  cursor: pointer;
}
.header__translate-menu button {
  color: #ffffff;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  font-weight: 300;
}
.header__bottonNavigation {
  background-color: #fafafa !important;
}
.header__bottonNavigation__tabs {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.section-main {
  padding-top: 8rem;
}
@media only screen and (max-width: 80em) {
  .section-main {
    padding-top: 7rem;
  }
}
@media only screen and (max-width: 60em) {
  .section-main {
    padding-top: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-main {
    padding-top: 5rem;
  }
}
@media only screen and (max-width: 18.75em) {
  .section-main {
    padding-top: 4rem;
  }
}
@media only screen and (min-width: 120em) {
  .section-main {
    padding-top: 10rem;
  }
}
