.ImageContainer{
  height: 65vh;
  margin-top: -10vh;
 
  background-image: 
  linear-gradient(
        to right bottom,
        rgba($secondary-color-dark, 0.5),
        rgba($secondary-color-light, 0.5)),
  url(../images/mac-min.jpg);
  background-size: cover;
  background-position: center;

  /*Revisa que soporte el arte de cortar si no pone en cuadrado
  */
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
    height: 75vh;
  }

  @include flexCenter;
  flex-direction: column;
  

  &__main-text{
    @include maintTextWhite;    
  }
  
  &__secondary-text{
    @include secondaryTextWhite;    
  }

  &__btn{
    letter-spacing: .5rem;
    font-size: 3rem;
    font-weight: 600;
  }
}            
