.ListOfImageCard{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.ImageCard{

  &__title{
    font-family: $header-font;
    color: $primary-color;
    text-transform: capitalize;
    letter-spacing: .3rem;
    font-size: 4rem;
    font-weight: 400;
     
  }
}

.ListOfProjects{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  transition: 1s all;
}