.PresentationRightToLeft{
  &__one{
    @include flexCenter;
    flex-direction: column;
    margin-bottom: 2rem !important;

    &__title{
       @include maintTextPrimaryColor; 
    }
    
    &__text{
      @include secondaryTextSecondaryColor;
    }
  }

  &__two{
    height: auto;
    @include flexCenter;

    &__image{
    }
  }
  
}

.kiri{
  height: 60rem;
  width: auto; 
  transition: all 1s;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 18% 71%);
  clip-path: polygon(10% 0%, 100% 0%, 75% 100%, 18% 71%);
}
