.PresentationLeftToRight{
  margin-bottom: 4rem !important;
  @include respond(600){
    padding: 0 !important;
  }
  

  &__one{
    @include flexCenter;
    flex-direction: column;
    margin-bottom: 2rem !important;
   
    &__title{
       @include maintTextPrimaryColor; 
    }
    
    &__text{
      @include secondaryTextSecondaryColor;
    }
  }

  &__two{
    @include flexCenter;
    overflow: hidden;
    @include respond(1200){
      order: 99;
    }

    &__image{
      background-image: url(../images/WebDev-min-min.jpg);
      background-size: cover;
      background-position: center;
      transition: all 1s;
      @include min-size(50rem, 50rem)
      
      @include respond(1200){
        @include min-size(45rem, 45rem)
      }
      @include respond(900){
        @include min-size(40rem, 40rem)
      }
      @include respond(600){
        @include min-size(35rem, 35rem)
      }
      @include respond(300){
        @include min-size(30rem, 30rem)
        background-position: top;
      }
      @include respond(1800){
        @include min-size(60rem, 60rem)
      }

    }
  }
  
}