.rImageRight{
  @include flexCenter;
  position: relative;
  height: 40rem;
  width: 60rem;
  @include for-tablet-portrait-up {
    height: 30rem;
    width: 50rem;
  }
  @include for-desktop-up {
    height: 40rem;
    width: 60rem;
  }
  
  &__image{
    position: absolute;
    height: 400px;
    width: 600px;
    top: 50%;
    margin-top: -20rem;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

    @include for-phone-only {
      height: 224px;
      width: 328px;
    }
    @include for-tablet-portrait-up {
      height: 224px;
      width: 328px;
      margin-top: -15rem;
    }
    @include for-desktop-up {
      height: 400px;
      width: 600px;
      margin-top: -20rem;
    }

  }

  &__shadow{
    content: "";
    position: absolute;
    height: 400px;
    width: 600px;
    top: 50%;
    margin-top: -19rem;
    z-index: -1;
    background: rgba($secondary-color, .45);
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
    @include for-phone-only {
      height: 224px;
      width: 328px;
    }
    @include for-tablet-portrait-up {
      height: 224px;
      width: 328px;
      margin-top: -14rem;
    }
    @include for-desktop-up {
      height: 400px;
      width: 600px;
      margin-top: -19rem; 
    }
  }
}

.rImageLeft{
  @include flexCenter;
  position: relative;
  height: 40rem;
  width: 60rem;
  @include for-tablet-portrait-up {
    height: 30rem;
    width: 50rem;
  }
  @include for-desktop-up {
    height: 40rem;
    width: 60rem;
  }
  
  &__image{
    position: absolute;
    height: 400px;
    width: 600px;
    top: 50%;
    margin-top: -20rem;
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);

    @include for-phone-only {
      height: 224px;
      width: 328px;
    }
    @include for-tablet-portrait-up {
      height: 224px;
      width: 328px;
      margin-top: -15rem;
    }
    @include for-desktop-up {
      height: 400px;
      width: 600px;
      margin-top: -20rem;
    }

  }

  &__shadow{
    content: "";
    position: absolute;
    height: 400px;
    width: 600px;
    top: 50%;
    margin-top: -19rem;
    z-index: -1;
    background: rgba($secondary-color, .45);
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
    @include for-phone-only {
      height: 224px;
      width: 328px;
    }
    @include for-tablet-portrait-up {
      height: 224px;
      width: 328px;
      margin-top: -14rem;
    }
    @include for-desktop-up {
      height: 400px;
      width: 600px;
      margin-top: -19rem; 
    }
  }
}

.st1 {
  fill: none;
  stroke: $secondary-color;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-miterlimit: 25;
}

.st2 {
  fill: none;
  stroke: $primary-color;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-miterlimit: 25;
}