.TwoRowPresentation{
  height: 80vh;
  @include flexCenter;
  margin: 5rem 0;
  flex-direction: column;
  
  @include respond(1200){
    height: 70vh;
    margin-bottom: 10rem;
  }
  @include respond(900){
    height: 70vh;
    margin-bottom: 5rem;
  }
  @include respond(600){
    height: 60vh;
  }
  @include respond(300){
    height: 70vh;
  }
  @include respond(1800){
    height: 85vh;
  }

  &__one{
    flex: 1 0 35%;
    @include flexCenter;
    
    @include respond(1200){
      margin: 5rem;
    }
    @include respond(900){
      order: 99;
      flex: 1 0;
    }
    @include respond(600){
      margin: 9rem;
    }
    @include respond(300){
      flex: 1 0;
      margin: 2rem .5rem;
    }
    
  }

  &__two{
    @include flexCenter;
    flex-direction: column;
    margin-bottom: 2rem;
    
    @include respond(900){
      flex: 1 0;
    }
    @include respond(600){
      margin-bottom: 1rem;
    }
    @include respond(300){
      margin-bottom: 0;
    }

    &__title{
       @include maintTextPrimaryColor; 
    }
    
    &__text{
      @include secondaryTextSecondaryColor;
    }
  }
  
  &__Logo{
    height: 100%;
    width: 100%;
  }
}