.TwoColumPresentationLeftToRight{
  height: 50vh;
  @include flexCenter;
  margin: 5rem 0;
  
  @include respond(1200){
    height: 55vh;
  }
  @include respond(900){
    flex-direction: column;
    height: 75vh;
    margin-bottom: 0;
  }
  @include respond(600){
    height: 80vh;
  }
  @include respond(1800){
    height: 85vh;
  }
  

  &__one{
    @include flexCenter;
    flex-direction: column;
    margin-bottom: 2rem;
    
    @include respond(900){
      order: 1;
      flex: 1 0;
    }
    @include respond(600){
      margin-bottom: 1rem;
    }
    @include respond(300){
      margin-bottom: 0;
    }

    &__title{
       @include maintTextPrimaryColor; 
    }
    
    &__text{
      @include secondaryTextSecondaryColor;
    }
  }

  &__two{
    flex: 1 0 35%;
    align-self: stretch;
    background-image: url(../images/WebDev-min-min.jpg);
    background-size: cover;
    background-position: center;

    @include respond(1200){
      margin: 5rem;
    }
    @include respond(900){
      flex: 3 0;
      order: 99;
      margin: 2rem 15rem;
      background-position: top;
    }
    @include respond(600){
      margin: 9rem;
    }
    @include respond(300){
      flex: 1 0;
      margin: 2rem .5rem;
    }
    @include respond(1800){
      margin: 9rem;
    }
    
  }
  
}