.TwoRowPresentation{
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
  margin-top: 5rem;
  flex-direction: column;
  
  @include respond(tab-land){
    height: 50vh;
    margin-bottom: 5rem;
  }

  @include respond(tab-port){
    height: 80vh;
    margin-bottom: 5rem;
  }

  @include respond(phone){
    height: 75vh;
  }
  

  &__one{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40rem;
    width: 65rem;

    @include respond(tab-land){
      order: 99;
      flex: 1 0;
    }

    @include respond(phone){
      flex: 3 0;
    }
  }

  &__two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(tab-land){
      order: 1;
      align-self: stretch;
      flex: 2 0;
    }

    @include respond(phone){
      flex: 1 0;
    }

    &__title{
      color: $primary-color;
      text-transform: capitalize;
      text-align: center;
      letter-spacing: .3rem;
      font-size: 4rem;
      font-weight: 400;
      margin-bottom: 4rem;
    }
    
    &__text{
      color: $secondary-color-dark;
      text-align: center;
      letter-spacing: .5rem;
      font-size: 2rem;
      font-weight: 300;
      padding: 0 8rem;
    }
  }
  
  &__Logo{
    height: 100%;
    width: 100%;
  }
}