.TwoColumPresentationLeftToRight{
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  @include respond(tab-land){
    flex-direction: column;
    height: 100vh;
  }

  @include respond(tab-port){
    height: 70vh;
    margin-bottom: 0;
  }

  @include respond(phone){
    height: 85vh;
  }
  

  &__one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(tab-land){
      order: 1;
      align-self: stretch;
      flex: 1 0;
    }

    
    @include respond(phone){
      flex: 1 0;
    }

    &__title{
      color: $primary-color;
      text-transform: capitalize;
      text-align: center;
      letter-spacing: .3rem;
      font-size: 4rem;
      font-weight: 400;
      margin-bottom: 4rem;
    }
    
    &__text{
      color: $secondary-color-dark;
      text-align: center;
      letter-spacing: .5rem;
      font-size: 2rem;
      font-weight: 300;
      padding: 0 8rem;
    }
  }

  &__two{
    flex: 1 0 35%;
    align-self: stretch;
    background-image: url(../images/WebDev-min-min.jpg);
    background-size: cover;
    background-position: center;

    @include respond(tab-land){
      order: 99;
      flex: 2 0;
      margin: 9rem;
    }
    
    @include respond(phone){
      flex: 3 0;
      margin: 9rem;
    }
    
  }
  
}