.TwoColumPresentation{
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
  
  @include respond(tab-land){
    flex-direction: column;
    margin-bottom: 10rem;
  }

  @include respond(phone){
    margin-top: 5rem;
  }
  

  &__one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(tab-land){
      align-self: stretch;
      flex: 1 0 85%;
    }

    &__title{
      color: $primary-color;
      text-transform: capitalize;
      text-align: center;
      letter-spacing: .3rem;
      font-size: 4rem;
      font-weight: 400;
      margin-bottom: 4rem;
    }
    
    &__text{
      color: $secondary-color-dark;
      text-align: center;
      letter-spacing: .5rem;
      font-size: 2rem;
      font-weight: 300;
    }
  }

  &__two{
    flex: 1 0 35%;
    align-self: stretch;
    background-image: url(../images/AddDev-min.jpg);
    background-size: cover;
    background-position: center;

    @include respond(tab-land){
      background-position: top;
    }
    
  }
  
}