.section-main{
  padding-top: 8rem;

  @include respond(1200){
    padding-top: 7rem;
  }
  @include respond(900){
    padding-top: 6rem;
  }
  @include respond(600){
    padding-top: 5rem;
  }
  @include respond(300){
    padding-top: 4rem;
  }
  @include respond(1800){
    padding-top: 10rem;
  }
}