.header{
  display: flex;
  flex-wrap: wrap;
  transition: all 3s;
  
  &__toolbar{
    @include for-phone-only{
      margin: 0 1rem ;
    }

    @include for-tablet-landscape-up{
      margin: 0 10rem ;
    }

    @include for-desktop-up{
      margin: 0 20rem ;
    }

    @include for-big-desktop-up{
      margin: 0 40rem ;
    }
    
   
  }

  &__title{
    display: flex;
    align-items: center;
    margin-right:auto;
    
    &__progress{
      color: $primary-text-color !important;
    }
    
    &__message{
      margin-right: 1rem !important;
      font-family: $header-font !important;
      text-transform: capitalize !important;
      letter-spacing: .5rem;
      font-size: 4rem !important;
      font-weight: 300 !important;
    }
  }

  
  &__translate-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__icon{
      cursor: pointer;
    }

    button{
      color: $primary-text-color;
      @include tercearyTextWhite;      
    }
  }
  

  &__placeholder{
  }

  &__bottonNavigation{
    background-color: $color-white !important;
    &__tabs{
      @include tercearyTextWhite;  
    }
  }

}

