*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  //One rem size
  font-size: 55%;
  
  @include respond(tab-land){
    font-size: 60%;
  }
  @include respond(tab-port){
    font-size: 50%;
  }
  @include respond(phone){
    font-size: 45%;
  }
  @include respond(big-desk){
    font-size: 70%;
  }
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
