*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%; // 62.5% === 1Rem === 10px/16px === 62.5%
  
  @include respond(1200){
    font-size: 50%; 
  }
  @include respond(900){
    font-size: 45%;
  }
  @include respond(600){
    font-size: 40%;
  }
  @include respond(300){
    font-size: 37.5%;
  }
  @include respond(1800){
    font-size: 65.5%;
  }
}

.switchRule {
position: relative;

  & > div {
    position: absolute;
  }
}

.screen{
}

.layout{
  display: flex;
  flex-direction: column;
}